@import '../../styles.scss';

.our-service {
    .title-row {
        text-align: center;

        @media only screen and (min-width: 812px) {
            text-align: left;
            padding: 10px 50px;
        }
    }

    .intro-text {
        padding: 10px 0;
        @media only screen and (min-width: 812px) {
            padding: 20px 50px;
        }
    }

    .service-tabs {
        @media only screen and (min-width: 812px) {
            padding: 20px 50px;
        }
    }

    .service-image {
        display: flex;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    .tab-content {
        @media only screen and (min-width: 812px) {
            padding: 25px 0;
        }
    }

    .nav-tabs {
        li {
            &.active {
                font-weight: 700;
            }
            a {
                color: $color-blue;
                padding: 10px 10px;

                @media only screen and (min-width: 812px) {
                    padding: 10px 15px;
                    font-size: 25px;
                }
            }
        }
    }

}

.maintenance-description {
    padding: 10px 0;

    ul {
        line-height: 30px;
    }
}

.warning-section {
    img {
        width: 100%;


        @media only screen and (min-width: 812px) {
            width: 475px;
        }
    }

    .btn--contact {
        margin: 10px 0;
        a {
            background-color: $color-blue;

            &:hover {
                background-color: black;
            }
        }

    }

    .contact-form {
        .btn-primary {
            background-color: $color-blue;

            &:hover {
                background-color: black;
            }
        }
    }
}

.warranty-description {
    .subtitle {

        // &:before {
        //     content: '';
        //     width: 100%;
        //     height: 1px;
        //     background-color: #e7e6e6;
        //     position: absolute;
        //     top: 25%;
        //     left: 0;
            
            
        //     @media only screen and (min-width: 812px) {
        //         top: 50px;
        //     }
        // }

        // &:after {
        //     content: '';
        //     width: 80px;
        //     height: 2px;
        //     left: 0;
        //     top: 25%;
        //     position: absolute;
        //     background-color: #15518d;

        //     @media only screen and (min-width: 812px) {
        //         top: 50px;
        //     }
        // }
    }

    ul {
        line-height: 35px;
    }
}

.after-sale {

    img {
        width: 100%;
    }

    &--row {
        padding: 20px 0;

        img {
            width: 100%;
        }

        h4 {
            // &.subtitle {
            //     &:before {
            //         content: '';
            //         width: 100%;
            //         height: 1px;
            //         background-color: #e7e6e6;
            //         position: absolute;
            //         bottom: 240px;
            //         left: 0;                
            //     }
        
            //     &:after {
            //         content: '';
            //         width: 80px;
            //         height: 2px;
            //         left: 0;
            //         bottom: 240px;
            //         position: absolute;
            //         background-color: #15518d;
            //     }
            // }
        }

        p {
            text-align: justify;
            margin-top: 20px;
        }

        .btn--contact {
            margin: 10px 0;
            a {
                background-color: $color-blue;
    
                &:hover {
                    background-color: black;
                }
            }
    
        }
    }
    &--text {
        .subtitle {
            &:before {
                content: '';
                width: 100%;
                height: 1px;
                background-color: #e7e6e6;
                position: absolute;
                top: 50px;
                left: 0;                
            }
    
            &:after {
                content: '';
                width: 80px;
                height: 2px;
                left: 0;
                top: 50px;
                position: absolute;
                background-color: #15518d;
            }
        }
    }

    &--img {
        max-width: 600px;

        img {
            width: 100%;
        }
    }
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */

    .col-md-4 {
        display: table-cell;
    }
}

.contact-form {
    .form-horizontal .control-label {
        text-align: left;
    }
}