<div class="our-service">
    <div class="row title-row">
        <div class="col-xs-12 col-md-12">
            <h2> Services</h2>
        </div>
    </div>
    <div class="banner">
        <img src="../../assets/img/service-banner_2.jpg">
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="service-subtitle">
                <h3>Awesome Services</h3>
                <hr>
            </div>
        </div>

        <div class="row service-container">
            <div class="col-xs-12 col-md-4 service-box">
                <img src="../../assets/img/batteries.jpg">
                <div class="text-block">
                    <p>Batteries</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 service-box">
                <img src="../../assets/img/aircon.jpg">
                <div class="text-block">
                    <p>Air conditioning</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 service-box">
                <img src="../../assets/img/engine.jpg">
                <div class="text-block">
                    <p>Engine</p>
                </div>
            </div>
        </div>
        <div class="row service-container">
            <div class="col-xs-12 col-md-4 service-box">
                <img src="../../assets/img/steering_1.jpg">
                <div class="text-block">
                    <p>Steering</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 service-box">
                <img src="../../assets/img/suspension.jpg">
                <div class="text-block">
                    <p>Suspension</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 service-box">
                <img src="../../assets/img/wheels.jpg">
                <div class="text-block">
                    <p>Wheels</p>
                </div>
            </div>
        </div>

        <app-appointment></app-appointment>

        <div class="row">
            <div class="col-xs-12 col-md-6 service-counter--text">
                <div class="service-counter--text-heading">
                    <h3>WHY CHOOSE US ?</h3>
                    <hr>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam voluptatem temporibus est neque.</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-md-6 service-counter">
                        <div class="service-counter--box">
                            <div class="service-counter--box-img">
                                <img src="../../assets/img/car.png">
                            </div>

                            <div class="counter-text">
                                <p>Vehicle services</p>
                                <h4 [countUp]="345" [options]="{duration : 9}">0</h4>
                            </div>
                        </div>


                    </div>
                    <div class="col-xs-12 col-md-6 service-counter">
                        <div class="service-counter--box">
                            <div class="service-counter--box-img">
                                <img src="../../assets/img/review.png">
                            </div>

                            <div class="counter-text">
                                <p>Dealer Reviews</p>
                                <h4 [countUp]="125" [options]="{duration : 9}">0</h4>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6 service-counter">
                        <div class="service-counter--box">
                            <div class="service-counter--box-img">
                                <img src="../../assets/img/happiness.png">
                            </div>

                            <div class="counter-text">
                                <p>Happy Customer</p>
                                <h4 [countUp]="450" [options]="{duration : 9}">0</h4>
                            </div>
                        </div>


                    </div>
                    <div class="col-xs-12 col-md-6 service-counter">
                        <div class="service-counter--box">
                            <div class="service-counter--box-img">
                                <img src="../../assets/img/trophy.png">
                            </div>

                            <div class="counter-text">
                                <p>Awards</p>
                                <h4 [countUp]="10" [options]="{duration : 9}">0</h4>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row service-brands">
            <div class="col-xs-12 col-md-6 service-brands--col">
                <div class="service-brands--banner">
                    <img src="../../assets/img/after-sale_men.jpg">
                </div>
            </div>
            <div class="col-xs-12 col-md-6 service-brands--col">
                <div class="service-brands-wrapper">
                    <div class="service-brands--heading">
                        <h4>We work on all makes & models, including:</h4>
                    </div>
                    <div class="service-brands--images">
                        <img src="../../assets/img/Brand/acura.png">
                        <img src="../../assets/img/Brand/audi.png">
                        <img src="../../assets/img/Brand/porsche.png">
                        <img src="../../assets/img/Brand/ford.png">
                        <img src="../../assets/img/Brand/honda.png">
                        <img src="../../assets/img/Brand/jaguar.png">
                        <img src="../../assets/img/Brand/jeep.png">
                        <img src="../../assets/img/Brand/lamborghini.png">
                        <img src="../../assets/img/Brand/land-rover.png">
                        <img src="../../assets/img/Brand/mini.png">
                        <img src="../../assets/img/Brand/mitsubishi.png">
                        <img src="../../assets/img/Brand/volkswagen.png">
                    </div>
                </div>

            </div>
        </div>

        <div class="row service-experts">
            <app-experts></app-experts>
        </div>

        <div class="row service-appointment">
            <div class="col-xs-12 col-md-12 service-appointment--background-img">
                <div class="service-appointment--text">
                    <h3>SCHEDULE YOUR APPOINTMENT</h3>
                    <h3>TODAY CALL: +568878888</h3>
                    <p>Your Automotive Repair & Maintenance Service Specialist</p>
                </div>

            </div>
        </div>
    </div>
</div>