<div class="row car-row" *ngFor="let cardetail of cardetails">
    <div class="col-xs-12 col-md-4 car-img">
        <img src="{{ cardetail.img }}">
    </div>

    <div class="col-xs-12 col-md-8 car-detail">
        <div class="car-title">
            <h4>{{ cardetail.year }} {{ cardetail.title }} {{ cardetail.series }}</h4>
            <h4>${{ cardetail.price }}</h4>
        </div>


        <div class="row">
            <table class="table car-specs desktop-table">
                <thead>
                    <tr>
                        <th><i class="fas fa-road"></i>
                            <span>Year</span></th>
                        <th><i class="fas fa-gas-pump"></i>
                            <span>Fuel Type</span></th>
                        <th><i class="fas fa-car"></i>
                            <span>Body Type</span></th>
                        <th><i class="fas fa-car-battery"></i>
                            <span>Transmission</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ cardetail.year }}</td>
                        <td>{{ cardetail.fuel }}</td>
                        <td>{{ cardetail.bodyType }}</td>
                        <td>{{ cardetail.Transmission }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="row mobile-table">
                <div class="col-xs-6 mobile-col">
                    <div class="row mobile-content">
                        <div class="col-xs-12">
                            <i class="fas fa-road"></i>
                            <span>Year</span>
                        </div>
                    </div>

                    <div class="row mobile-content">
                        <div class="col-xs-12">
                            <i class="fas fa-gas-pump"></i>
                            <span>Fuel Type</span>
                        </div>
                    </div>

                    <div class="row mobile-content">
                        <div class="col-xs-12">
                            <i class="fas fa-car"></i>
                            <span>Body Type</span>
                        </div>
                    </div>

                    <div class="row mobile-content">
                        <div class="col-xs-12">
                            <i class="fas fa-car-battery"></i>
                            <span>Transmission</span>
                        </div>
                    </div>


                </div>
                <div class="col-xs-6 mobile-col">
                    <div class="row mobile-content">
                        <div class="col-xs-12">
                            <span>{{ cardetail.year }}</span>
                        </div>
                    </div>

                    <div class="row mobile-content">
                        <div class="col-xs-12">
                            <span>{{ cardetail.fuel }}</span>
                        </div>
                    </div>

                    <div class="row mobile-content">
                        <div class="col-xs-12">
                            <span>{{ cardetail.bodyType }}</span>
                        </div>
                    </div>

                    <div class="row mobile-content">
                        <div class="col-xs-12">
                            <span>{{ cardetail.Transmission }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <table class="table car-specs mobile">
                <tbody>
                    <tr>
                        <th><i class="fas fa-road"></i>
                            <span>Year</span></th>
                        <td>{{ cardetail.year }}</td>
                    </tr>

                    <tr>
                        <th>
                            <i class="fas fa-gas-pump"></i>
                            <span>Fuel Type</span>
                        </th>
                        <td>{{ cardetail.fuel }}</td>
                    </tr>

                    <tr>
                        <th>
                            <i class="fas fa-car"></i>
                            <span>Body Type</span>
                        </th>
                        <td>{{ cardetail.bodyType }}</td>
                    </tr>

                    <tr>
                        <th>
                            <i class="fas fa-car-battery"></i>
                            <span>Transmission</span>
                        </th>
                        <td>{{ cardetail.Transmission }}</td>
                    </tr>

                </tbody>
            </table> -->
            <!-- <div class="car-specs">
                <div class="car-icon-text">
                    <i class="fas fa-road"></i>
                    <span>Year</span>
                    <p>{{ cardetail.year }}</p>
                </div>

                <div class="car-icon-text">
                    <i class="fas fa-road"></i>
                    <span>Miles</span>
                    <p>{{ cardetail.miles }}</p>
                </div>

                <div class="car-icon-text">
                    <i class="fas fa-gas-pump"></i>
                    <span>Fuel Type</span>
                    <p>{{ cardetail.fuel }}</p>
                </div>

                <div class="car-icon-text">
                    <i class="fas fa-car-battery"></i>
                    <span>Transmission</span>
                    <p>{{ cardetail.Transmission }}</p>
                </div>

                <div class="car-icon-text">
                    <i class="fas fa-car"></i>
                    <span>Body Type</span>
                    <p>{{ cardetail.bodyType }}</p>
                </div>

            </div> -->
            <!-- <table class="table table-condensed table-detail">
                <tbody>
                    <tr>
                        <th>Stock No.</th>
                        <td>{{ cardetail.stockNum }}</td>
                    </tr>
                    <tr>
                        <th>Transmission</th>
                        <td>{{ cardetail.Transmission }}</td>
                    </tr>
                    <tr>
                        <th>Fuel</th>
                        <td>{{ cardetail.fuel }}</td>
                    </tr>
                    <tr>
                        <th>Engine</th>
                        <td>{{ cardetail.engine }}</td>
                    </tr>
                </tbody>
            </table> -->
            <div class="btn--view-detail">
                <a class="btn btn-primary btn-lg" (click)="onSelect(cardetail.id)">View Details</a>
            </div>
        </div>
    </div>
</div>