<div class="row filter-head">
    <div class="col-xs-12 col-md-7 form-group">
        <div class="icon-addon addon-lg">
            <input type="text" placeholder="Search" class="form-control" name="search" [(ngModel)]="filter" id="search">
            <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="Search"></label>
        </div>
    </div>
    <div class="col-xs-4 col-md-1 form-group">
        <div class="sort-title" [class.active]="order === 'title'">
            <button type="button" class="btn btn-default" (click)="setOrder('title'); styleFilter()">
                <span id="sortDescIcon" class="pull-left" style="display: inline-block;"><i
                        class="fa fa-sort-amount-desc"></i> Make</span>
                <span id="sortAscIcon" class="pull-left" style="display:none;"> <i class="fa fa-sort-amount-asc"></i>
                    Make</span>
            </button>

        </div>
    </div>

    <div class="col-xs-4 col-md-1 form-group">
        <div class="sort-title" [class.active]="order === 'year'">
            <button type="button" class="btn btn-default" (click)="setOrder('year'); styleFilterYear()">
                <span id="sortDescIconYear" class="pull-left" style="display: inline-block;"><i
                        class="fa fa-sort-amount-desc"></i> Year</span>
                <span id="sortAscIconYear" class="pull-left" style="display:none;"> <i
                        class="fa fa-sort-amount-asc"></i>
                    Year</span>
            </button>
        </div>
    </div>

    <div class="col-xs-4 col-md-1 form-group">
        <div class="sort-title" [class.active]="order === 'price'">
            <button type="button" class="btn btn-default" (click)="setOrder('price'); styleFilterPrice()">
                <span id="sortDescIconPrice" class="pull-left" style="display: inline-block;"><i
                        class="fa fa-sort-amount-desc"></i> Price</span>
                <span id="sortAscIconPrice" class="pull-left" style="display:none;"> <i
                        class="fa fa-sort-amount-asc"></i>
                    Price</span>
            </button>
        </div>
    </div>

    <div class="col-xs-4 col-md-1 form-group">
        <div class="btn-group pull-right">
            <button class="btn btn-white" type="button" (click)="onDisplayModeChange(1)"
                [ngClass]="{'btn-primary active': displayMode === 1}">
                <i class="fa fa-th"></i>
            </button>
            <button class="btn btn-white" type="button" (click)="onDisplayModeChange(2)"
                [ngClass]="{'btn-primary active': displayMode === 2}">
                <i class="fa fa-list"></i>
            </button>
        </div>
    </div>

</div>

<div class="row" *ngIf="displayMode === 1">
    <div class="car-item col-xs-12 col-md-4" *ngFor="let cardetail of cardetails | filter:filter | orderBy: order:reverse:'case-insensitive' | paginate: {itemsPerPage: numberOfItems, currentPage: actualPage} ">
        <div class="thumbnail">
            <div class="thumbnail-img-text">
                <img class="group list-group-image" src="{{ cardetail.img }}" alt="" />
                <div class="text-block">
                    <p>${{cardetail.price}}</p>
                </div>
            </div>
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    {{ cardetail.year }} {{ cardetail.title }} {{ cardetail.series }}</h4>
                <div class="group inner list-group-item-features">
                    <div class="item-feature">
                        <i class="far fa-calendar-alt"></i>
                        <p>{{ cardetail.year }}</p>
                    </div>
                    <div class="item-feature">
                        <i class="fas fa-gas-pump"></i>
                        <p>{{ cardetail.fuel }}</p>
                    </div>
                    <div class="item-feature">
                        <i class="fas fa-car"></i>
                        <p>{{ cardetail.bodyType }}</p>
                    </div>
                    <div class="item-feature">
                        <i class="fas fa-car-battery"></i>
                        <p>{{ cardetail.Transmission }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 btn--view-detail">
                        <a class="btn btn-primary" href="http://www.jquery2dotnet.com">View Car</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="car-list-view__container" *ngIf="displayMode === 2">
    <div class="row car-row"
        *ngFor="let cardetail of cardetails | filter:filter | orderBy: order:reverse:'case-insensitive' | paginate: {itemsPerPage: numberOfItems, currentPage: actualPage} ">
        <div class="col-xs-12 col-md-4 car-img">
            <img src="{{ cardetail.img }}">
        </div>

        <div class="col-xs-12 col-md-8 car-detail">
            <div class="car-title">
                <h4>{{ cardetail.year }} {{ cardetail.title }} {{ cardetail.series }}</h4>
                <h4>${{ cardetail.price }}</h4>
            </div>


            <div class="row">
                <table class="table car-specs desktop-table">
                    <thead>
                        <tr>
                            <th><i class="fas fa-road"></i>
                                <span>Year</span></th>
                            <th><i class="fas fa-gas-pump"></i>
                                <span>Fuel Type</span></th>
                            <th><i class="fas fa-car"></i>
                                <span>Body Type</span></th>
                            <th><i class="fas fa-car-battery"></i>
                                <span>Transmission</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ cardetail.year }}</td>
                            <td>{{ cardetail.fuel }}</td>
                            <td>{{ cardetail.bodyType }}</td>
                            <td>{{ cardetail.Transmission }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row mobile-table">
                    <div class="col-xs-6 mobile-col">
                        <div class="row mobile-content">
                            <div class="col-xs-12">
                                <i class="fas fa-road"></i>
                                <span>Year</span>
                            </div>
                        </div>

                        <div class="row mobile-content">
                            <div class="col-xs-12">
                                <i class="fas fa-gas-pump"></i>
                                <span>Fuel Type</span>
                            </div>
                        </div>

                        <div class="row mobile-content">
                            <div class="col-xs-12">
                                <i class="fas fa-car"></i>
                                <span>Body Type</span>
                            </div>
                        </div>

                        <div class="row mobile-content">
                            <div class="col-xs-12">
                                <i class="fas fa-car-battery"></i>
                                <span>Transmission</span>
                            </div>
                        </div>


                    </div>
                    <div class="col-xs-6 mobile-col">
                        <div class="row mobile-content">
                            <div class="col-xs-12">
                                <span>{{ cardetail.year }}</span>
                            </div>
                        </div>

                        <div class="row mobile-content">
                            <div class="col-xs-12">
                                <span>{{ cardetail.fuel }}</span>
                            </div>
                        </div>

                        <div class="row mobile-content">
                            <div class="col-xs-12">
                                <span>{{ cardetail.bodyType }}</span>
                            </div>
                        </div>

                        <div class="row mobile-content">
                            <div class="col-xs-12">
                                <span>{{ cardetail.Transmission }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn--view-detail">
                    <a class="btn btn-primary btn-lg" (click)="onSelect(cardetail.id)">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="cardetails.length < 1" class="row">
    <div class="col-xs-12 col-md-12">
        <h2>No Cars are available</h2>
    </div>
</div>

<div class="row pagination-footer">
        <div class="form-group number-cars">
                <span>No.of cars</span>
                <input class="number" type="number" id="numberOfItems" [(ngModel)]="value" min="1" max="15"
                        placeholder="{{numberOfItems}}" (change)="onAdd()">
        </div>
        <pagination-controls (click)="scrollToTop()" (pageChange)="actualPage = $event">
            </pagination-controls>
</div>
<div class="col-xs-4 col-md-1 form-group number-cars">
    
    </div>
