@import '../../../styles.scss';

.car {
    &-row {
        background-color: $color-gray;
        margin: 0 0 10px 0;
    }
    &-img {
        padding: 0;
        img {
            width: 100%;
        }

    }

    &-detail {
        .table-detail {
            margin-top: 20px;

            @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
                max-width: 470px;
                margin: 20px auto;
            }
        }

        .btn--view-detail {
            text-align: right;
            padding: 15px 20px;
        }

    }

    &-title {
        text-transform: uppercase;
        color: $color-blue;
        display: flex;
        justify-content: space-between;
         h4 {
             font-weight: 700;
         }
    }

    &-specs {
        max-width: 80%;
        margin-bottom: 20px;
        margin: 5px 15px;

        th {
            font-size: 16px;
            span {
                padding: 0 5px;
            }
        }

        tr {
            td {
                font-size: 16px;
            }
        }

        &.desktop {
            @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
                display: none;
            }
        }

        &.mobile {
            @media only screen and (min-width: 813px) {
                display: none
            } 
        }
    }
}

.desktop-table {
    display: none;

    @media only screen and (min-width: 813px) {
        display: block;
    } 
}

.mobile{

    &-table {
        display: none;

        @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
            display: block;
        }
    }
    
    &-col {
        padding: 0 20px;
    }

    &-content {
        padding: 5px 0;

        i {
            padding: 0 10px;
        }
    }
    
}

.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 33.6px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 0;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}


.filter-head {
    margin: 15px -15px;

    @media only screen and (min-width: 813px) {
        display: flex;
        align-items: center;
    } 
}

.list-group-item {
    &-heading {
        font-size: 21px;

        @media only screen and (min-width: 1280px) {
            font-size: 20px;
        } 
    }
    &-features {
        display: flex;
        justify-content: space-between;
        text-align: center;

        .item-feature {
            p {
                font-size: 16px;
            }
        }
    }
}

.thumbnail {
    &-img-text {
        position: relative;
        img {
            width: 100%;
        }

        .text-block {
            position: absolute;
            background-color: $color-blue;
            color: $color-white;
            padding: 10px;
            top: 0;
            left: 0;
        }
    }

    .btn--view-detail {
        display: flex;
        justify-content: center;
    }
}

.number-cars {
    text-align: center;

    span {
        padding: 0 10px;
    }
}

.pagination-footer {

    @media only screen and (min-width: 813px) {
        display: flex;
        justify-content: flex-end;
    } 

}

.pull-right {
    @media only screen and (max-width: 813px) {
        display: flex;
        width: 100%;
    } 
}
