<div class="container-fluid">
    <div class="row featured-container--cars">
        <div class="col-xs-12 col-md-12 featured-heading">
            <h3>Featured Cars</h3>
            <hr>
        </div>
    </div>
    <div class="row featured-container--cars">
        <div class="col-xs-12 col-md-3 featured-box" *ngFor="let car of carDetails">
            <a href="#">
                <div class="featured-cars-price">
                    <img src="{{car.img}}" alt="">
                    <div class="text-block">
                        <p>Price: ${{car.price}}</p>
                    </div>
                </div>

                <h4>{{car.year}} {{car.title}} {{car.series}}</h4>
                <div class="miles">
                    <i class="fa fa-dashboard"></i>
                    <span>{{car.miles}} miles</span>
                </div>
            </a>
            <div class="btn--view-detail">
                <a class="btn btn-primary btn-lg" (click)="onSelect(car.id)">View Details</a>
            </div>
        </div>
    </div>

    <div class="view-more-container">
        <a routerLink="/shopcars" class="btn btn-default btn-lg btn--view-more">View More</a>
    </div>
</div>