@import '../../../styles.scss';

.featured {
    &-container {
        &--cars {
            max-width: 1820px;
            margin: 0 auto;
        }
    }

    &-heading {
        text-align: center;

        @media only screen and (min-width: 812px) {
            padding: 30px 0;
        }

        h3 {
            font-weight: 700;
            text-transform: uppercase;
        }
        
        hr {
            border-top: 3px solid $color-blue;
            margin-top: -10px;
            width: 50px;

            @media only screen and (min-width: 812px) {
                margin-top: -5px;
            }
        }
    }

    &-box {
        @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
            padding: 5px 0;
        }
        img {   
            width: 100%;
        }

        h4, i, span {
            text-align: center;
            color: $color-blue;
        }

        i {
            padding: 0 10px;
            font-size: 20px;
        }

        .miles {
            text-align: center;
        }

        .btn--view-detail {
            text-align: center;
            padding: 15px 0;

            a {
                background-color: $color-blue;
                padding: 6px 35px;

                &:hover {
                    background-color: $color-black;
                }
            }
        }

        a {
            &:hover {
                text-decoration: none;
            }
        }
    }

    &-cars-price {
        position: relative;

        .text-block {
            position: absolute;
            background-color: $color-light-blue;
            color: $color-white;
            padding: 10px;
            top: 0;
            left: 0;

            p {
                margin: 0;
            }
        }
    }
}

.view-more-container {
    text-align: center;
    padding: 10px 0;

    @media only screen and (min-width: 812px) {
        padding: 25px 0;
    }
    
    .btn--view-more {
        padding: 10px 60px;
        @media only screen and (min-width: 812px) {
            padding: 15px 60px;
        }

        &:hover {
            background-color: $color-blue;
            color: $color-white;
        }
    }
}