<div class="container-fluid">
    <div class="row body-type--cars">
        <div class="col-xs-12 col-md-12 body-type-heading">
            <h3>Quick Search by Body Type</h3>
            <hr>
        </div>
    </div>

    <div class="row" id="body-type" >
        <div class="col-xs-6 col-md-2 body-type-box" *ngFor="let bodyType of bodyTypes; let i = index;">
            <input class="body-type-checkbox" type="checkbox" id="{{ bodyType.id }}" (change)=onChecked($event,i,bodyType)>
            
            <label for="{{ bodyType.id }}"  [ngStyle]="{'background-color':bodyType.checkValue === true ? '#15518d' : ''}">
                <img src="{{ bodyType.img }}" alt="sedan">
                <p [ngStyle]="{'color':bodyType.checkValue === true ? '#fff' : ''}">{{ bodyType.text }}</p>
            </label>

        </div>
        <!-- <div class="col-xs-6 col-md-2 body-type-box">
            <input type="checkbox" id="coupes">
            <label for="coupes">
                    <img src="../../../assets/img/bodyType/Coupes.png" alt="coupes">
                    
            <p>Coupes</p>
            </label>



        </div>
        <div class="col-xs-6 col-md-2 body-type-box">
            <input type="checkbox" id="convertibles">
            <label for="convertibles">
                <img src="../../../assets/img/bodyType/Convertibles.png" alt="Convertibles">
                <p>Convertibles</p>
            </label>


        </div>
        <div class="col-xs-6 col-md-2 body-type-box">
            <input type="checkbox" id="suvs">
            <label for="suvs">
                    <img src="../../../assets/img/bodyType/Suvs.png" alt="SUVs">
                    <p>SUVs</p>
        
            </label>
        </div>
        <div class="col-xs-6 col-md-2 body-type-box">
            <input type="checkbox" id="vans">
            <label for="vans">
                    <img src="../../../assets/img/bodyType/Vans.png" alt="Vans">
                    <p>Vans</p>
            </label>


        </div>
        <div class="col-xs-6 col-md-2 body-type-box">
            <input type="checkbox" id="trucks">
            <label for="trucks">
                    <img src="../../../assets/img/bodyType/truck.png" alt="Trucks">
                    <p>Trucks</p>
            </label>

        </div> -->
    </div>

    <div class="row btn-action">
        <div class="btn-start-search">
            <a href="#" class="btn btn-primary btn-lg">
                Start Search
            </a>
        </div>
        <div class="btn-contact">
            <a routerLink="/contact" class="btn btn-primary btn-lg">
                Contact Us
            </a>
        </div>
    </div>
</div>