<div class="container-fluid">
    <div class="row body-type--cars">
        <div class="col-xs-12 col-md-12 body-type-heading">
            <h3>Quick Search by Body Type</h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-2 body-type-box">
            <img src="../../../assets/img/bodyType/Sedans.png" alt="sedan">
            <p>Sedans</p>
        </div>
        <div class="col-xs-6 col-md-2 body-type-box">
            <img src="../../../assets/img/bodyType/Coupes.png" alt="coupes">
            <p>Coupes</p>
        </div>
        <div class="col-xs-6 col-md-2 body-type-box">
            <img src="../../../assets/img/bodyType/Convertibles.png" alt="Convertibles">
            <p>Convertibles</p>
        </div>
        <div class="col-xs-6 col-md-2 body-type-box">
            <img src="../../../assets/img/bodyType/Suvs.png" alt="SUVs">
            <p>SUVs</p>
        </div>
        <div class="col-xs-6 col-md-2 body-type-box">
            <img src="../../../assets/img/bodyType/Vans.png" alt="Vans">
            <p>Vans</p>
        </div>
        <div class="col-xs-6 col-md-2 body-type-box">
            <img src="../../../assets/img/bodyType/truck.png" alt="Trucks">
            <p>Trucks</p>
        </div>
    </div>

    <div class="row btn-action">
        <div class="btn-start-search">
            <a href="#" class="btn btn-primary btn-lg">
                Start Search
            </a>
        </div>
        <div class="btn-contact">
            <a href="#" class="btn btn-primary btn-lg">
                Contact Us
            </a>
        </div>
    </div>
</div>