@import '../../../styles.scss';

.body-type {

    &-container {
        margin: 0 auto;
    }
    &-heading {
        text-align: center;

        @media only screen and (min-width: 812px) {
            padding: 30px 0;
        }

        h3 {
            font-weight: 700;
            text-transform: uppercase;
        }
        
        hr {
            border-top: 3px solid $color-blue;
            margin-top: -10px;
            width: 50px;

            @media only screen and (min-width: 812px) {
                margin-top: -5px;
            }
        }
    }

    &-box {
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: $color-blue;
            
            p {
                color: $color-white;
            }
        }
        img {
            width: 100%;
        }

        p {
            font-size: 18px;
            padding: 10px 0;
            text-transform: uppercase;
            color: $color-blue;
        }
        
        label {
            p {
                font-weight: initial;
            }

            input:checked {
                
            }
        }
    }

    &-checkbox {
        visibility: hidden;
    }
}

.btn-action {
    display: flex;
    justify-content: center;
    padding: 20px 0;

    .btn-start-search {
        .btn-primary {
            background-color: $color-blue;

            &:hover {
                background-color: $color-white;
                color: $color-blue;
            }
        }
    }

    .btn-clear {
        .btn-primary {
            background-color: $color-white;
            color: $color-blue;

            &:hover {
                background-color: $color-blue;
                color: $color-white;
            }
        }
    }
}

.btn-start-search, .btn-contact {
    padding: 0 10px;
}

