<div class="container-fluid">
    <div class="row body-type--cars">
        <div class="col-xs-12 col-md-12 body-type-heading">
            <h3>Quick Search by Body Type</h3>
            <hr>
        </div>
    </div>

    <div class="row body-type-container" id="body-type">
        <div class="col-xs-6 col-md-2 body-type-box" *ngFor="let bodyType of bodyTypes; let i = index;">

            <a routerLink="/shopcars" [queryParams]="{bodyType: bodyType.bodyType}"> 
                <img src="{{ bodyType.img }}" alt="sedan">
                <p [ngStyle]="{'color':bodyType.checkValue === true ? '#fff' : ''}">{{ bodyType.text }}</p>

            </a>

        </div>
    </div>
</div>