@import  '../../../styles.scss';
.icon-container {
    i {
        font-size: 40px;
        padding: 0 5px;
    }
}

.checkout {
    .title-row {
        margin: 0;
        padding: 10px 50px;
    }

    .row {
        margin: 0;

        &.container-fluid {
          margin: 20px 0;
          display: flex;
          flex-direction: column-reverse;

          @media only screen and (min-width: 812px) {
            display: initial;
          }
        }
    }

    h4 {
        padding: 0 15px;
    }

    &-options {
        padding: 0 15px;

        .btn {
            color: $color-white;
            background-color: $color-blue;
            // margin: 0 10px;
        
            &:hover {
              background-color: $color-white;
              color: $color-blue;
            }
        }

        label {
            padding: 10px 0;
        }

        input {
            margin: 4px 4px 0;
        }
    }

    &-summary {
        p {
            display: flex;
            justify-content: space-between;
        }
    }
}

.table-mobile {
    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
      }
      
      table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
      }
      
      table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
      }
      
      table th,
      table td {
        padding: .625em;
        text-align: center;
      }
      
      table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
      }
      
      @media screen and (max-width: 600px) {
        table {
          border: 0;
        }
      
        table caption {
          font-size: 1.3em;
        }
        
        table thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }
        
        table tr {
          border-bottom: 3px solid #ddd;
          display: block;
          margin-bottom: .625em;
        }
        
        table td {
          border-bottom: 1px solid #ddd;
          display: block;
          font-size: .8em;
          text-align: right;
        }
        
        table td::before {
          /*
          * aria-label has no advantage, it won't be read inside a table
          content: attr(aria-label);
          */
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }
        
        table td:last-child {
          border-bottom: 0;
        }
      }
}

.form-group {
  padding: 0;
  // margin-left: 15px;
  // margin-right: 15px;
}

form {
  .form-input, .form-textarea {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0;
    &:valid {
      // Hides the label
      background: $color-white; 
    }
    &:focus {
      border-color: $color-dark-blue;
    }
    &:focus + label {
      background: $color-dark-blue;
      color: $color-white;
      font-size: 70%;
      padding: 1px 6px;
      z-index: 2;
      text-transform: uppercase;
    }
  }
  .form-label {
    transition: // not padding
      background 0.2s,
      color 0.2s,
      top 0.2s,
      bottom 0.2s,
      right 0.2s,
      left 0.2s;
    position: absolute;
    color: white;
    padding: 7px 15px;
    margin-bottom: 0;
  }
  textarea {
    display: block;
    resize: vertical;
  }

  &.gobottom {
    .form-input, .form-textarea {
      padding: 12px 12px 12px 12px; 
    }
    .form-label {
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    .form-input:focus, textarea:focus {
      padding: 4px 6px 20px 6px; 
    }
    .form-input:focus + label, textarea:focus + label {
      top: 100%;
      margin-top: -16px;
    }
  }
}

.form-control {
  height: 50px;
}