<div class="checkout">
    <div class="row title-row">
        <div class="col-xs-12 col-md-12">
            <h2>My Cart</h2>
        </div>
    </div>

    <div class="row container-fluid">
        <div class="col-xs-12 col-md-8">
            <form [formGroup]="billingForm" (ngSubmit)="onSubmit()" class="gobottom">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <h4>Billing Address</h4>
                        <div class="col-xs-12 col-md-5 form-group">
                            <input placeholder="First Name" type="text" formControlName="firstName"
                                class="form-control form-input"
                                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                            <label class="form-label" for="fname">First Name</label>
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                <div *ngIf="f.firstName.errors.pattern">
                                    First Name not valid.
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 col-md-offset-1 form-group">
                            <input placeholder="Last Name" type="text" formControlName="lastName"
                                class="form-control form-input"
                                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                            <label class="form-label" for="lname">Last Name</label>
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                <div *ngIf="f.lastName.errors.pattern">
                                    Last Name not valid.
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-5 form-group">
                            <input type="email" placeholder="Email Address" class="form-control form-input"
                                formControlName="emailAdd"
                                [ngClass]="{ 'is-invalid': submitted && f.emailAdd.errors }" />
                            <label class="form-label" for="emailAdd">Email Address</label>
                            <div *ngIf="submitted && f.emailAdd.errors" class="invalid-feedback">
                                <div *ngIf="f.emailAdd.errors.required">Email address is required</div>
                                <div *ngIf="f.emailAdd.errors.pattern">
                                    Email Address is not valid. Must have '@' and '.'
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-5 col-md-offset-1 form-group">
                            <input placeholder="City" type="text" formControlName="city" class="form-control form-input"
                                [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                            <label class="form-label" for="city">City</label>
                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                <div *ngIf="f.city.errors.required">City is required</div>
                                <div *ngIf="f.city.errors.pattern">
                                    City not valid.
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-5 form-group">
                            <input placeholder="State" type="text" formControlName="state"
                                class="form-control form-input"
                                [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
                            <label class="form-label" for="state">State</label>
                            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                <div *ngIf="f.state.errors.required">State is required</div>
                                <div *ngIf="f.state.errors.pattern">
                                    State not valid.
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-5 col-md-offset-1 form-group">
                            <input placeholder="Zip Code" type="text" formControlName="zipcode"
                                class="form-control form-input"
                                [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }" />
                            <label class="form-label" for="zipcode">Zip Code</label>
                            <div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
                                <div *ngIf="f.zipcode.errors.required">Zipcode is required</div>
                                <div *ngIf="f.zipcode.errors.pattern">
                                    Zipcode not valid.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <h4>Payment</h4>
                        <div class="icon-container col-xs-12 col-md-12 form-group">
                            <i class="fab fa-cc-visa" style="color:navy;"></i>
                            <i class="fab fa-cc-amex" style="color:blue;"></i>
                            <i class="fab fa-cc-mastercard" style="color:red;"></i>
                        </div>
                        <div class="col-xs-12 col-md-5 form-group">
                            <input placeholder="Name on Card" type="text" formControlName="cardname"
                                class="form-control form-input"
                                [ngClass]="{ 'is-invalid': submitted && f.cardname.errors }" />
                            <label class="form-label" for="cardname">Name on Card</label>
                            <div *ngIf="submitted && f.cardname.errors" class="invalid-feedback">
                                <div *ngIf="f.cardname.errors.required">Card Name is required</div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-5 col-md-offset-1 form-group">
                            <input placeholder="Credit Card Number" type="text" formControlName="cardnumber"
                                class="form-control form-input"
                                [ngClass]="{ 'is-invalid': submitted && f.cardnumber.errors }" />
                                <label class="form-label" for="ccnum">Credit Card Number</label>
                            <div *ngIf="submitted && f.cardnumber.errors" class="invalid-feedback">
                                <div *ngIf="f.cardnumber.errors.required">Card Number is required</div>
                                <div *ngIf="f.cardnumber.errors.pattern">
                                    Card Number not valid.
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-5 form-group">
                            <input placeholder="Expiry Date" type="text" formControlName="expdate"
                                class="form-control form-input"
                                [ngClass]="{ 'is-invalid': submitted && f.expdate.errors }" />
                                <label class="form-label" for="expdate">Expiry Date</label>
                            <div *ngIf="submitted && f.expdate.errors" class="invalid-feedback">
                                <div *ngIf="f.expdate.errors.required">Expiry Date is required</div>
                                <div *ngIf="f.expdate.errors.pattern">
                                        Expiry Date not valid.
                                    </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-5 col-md-offset-1 form-group">
                            <input placeholder="CVV" type="text" formControlName="cvv" class="form-control form-input"
                                [ngClass]="{ 'is-invalid': submitted && f.cvv.errors }" />
                                <label class="form-label" for="cvv">CVV</label>
                            <div *ngIf="submitted && f.cvv.errors" class="invalid-feedback">
                                <div *ngIf="f.cvv.errors.required">CVV is required</div>
                                <div *ngIf="f.cvv.errors.pattern">
                                        CVV not valid.
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row checkout-options">
                    <div class="col-xs-12 col-md-12">
                        <label><input type="checkbox" value="">Ship to same address as billing address</label>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <button class="btn btn-primary btn-lg" type="submit">Confirm my payment</button>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="checkout-summary">
                <h4>Cart
                </h4>
                <div class="table-mobile">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Sub Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items">
                                <td data-label="Title">{{item.product.title}}</td>
                                <td data-label="Price">${{item.product.price}}</td>
                                <td data-label="Quantity">{{item.quantity}}</td>
                                <td data-label="Sub Total">${{item.product.price * item.quantity}}</td>
                            </tr>
                            <tr>
                                <th colspan="3" align="right">Total</th>
                                <td>${{total}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>