<div class="container" id="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="form-wrapper">
                <div class="form-wrapper__left">
                    <div class="form-wrapper__left--sign-in">
                        <h2>Don't have an account?</h2>
                        <a class="button button__ghost button__ghost--primary">Sign Up</a>
                    </div>
                    <div class="form-wrapper__left--sign-up inactive">
                        <h2>Already have an account?</h2>
                        <a class="button button__ghost button__ghost--secondary">Sign In</a>
                    </div>
                </div>
                <div class="form-wrapper__right">
                    <app-login></app-login>
                    <div class="form-wrapper__right--sign-up inactive">
                        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                        <h3>Sign Up</h3>
                        <p>Connect with</p>
                        <div class="social-login">
                            <a href="#" class="social-login__link social-login__link--facebook"><i
                                    class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="social-login__link social-login__link--twitter"><i
                                    class="fab fa-twitter"></i>
                            </a>
                        </div>
                        <div class="divider">
                            <span>or</span>
                        </div>
                        <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <input placeholder="First Name" type="text" formControlName="firstName"
                                class="form__input form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                <div *ngIf="f.firstName.errors.pattern">
                                    First Name not valid.
                                </div>
                            </div>
                            <input placeholder="Last Name" type="text" formControlName="lastName"
                                class="form__input form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                <div *ngIf="f.lastName.errors.pattern">
                                    Last Name not valid.
                                </div>
                            </div>
                            <input type="text" placeholder="Username" formControlName="username"
                                class="form__input form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>

                            <input placeholder="Password" type="password" formControlName="password"
                                class="form__input form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>

                            <input placeholder="Confirm Password" type="password" formControlName="confirmPassword"
                                class="form__input form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                            <button class="button button__secondary">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>