@import '../../styles.scss';

.car-detail {
    &-container {
        .title-row {
            padding: 20px 50px;

            @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
                padding: 20px 15px;
            }
        }

        .back-action {
            padding: 20px 50px;

            @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
                padding: 20px 15px;
            }

            a {
                color: inherit;

                &:hover {
                    text-decoration: none;
                }
            }

            span {
                padding: 0 5px;
            }
        }
    }

}

.car {
    &-images {
        padding: 0 50px;

        @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
            padding: 0 15px;
        }

        h4 {
            margin-top: 0;

            &:before {
                content: "";
                width: 100%;
                height: 1px;
                background-color:
                #e7e6e6;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            &:after {
                content: '';
                width: 80px;
                height: 2px;
                left: 0;
                bottom: -1px;
                position: absolute;
                background-color: #15518d;
            }
        }
        &--multiple {

        }

        &-box {
            width: 500px;
        }

        img {
            width: 100%;
        }
    }

    &-spec {
        margin: 10px;
        border: 1px solid;
        text-align: center;
        padding: 10px;

        @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
            margin: 10px 0;
        }

        &:hover {
            background-color: $color-gray;
        }

        .fa {
            font-size: 30px;
        }
    }

    &-description-text {
        padding: 0 50px;
        margin-top: 15px;
        h4 {
            &:before {
                content: "";
                width: 50%;
                height: 1px;
                background-color:
                #e7e6e6;
                position: absolute;
                top: 50px;
                left: 0;

                @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
                    top: 35px;
                }
            }

            &:after {
                content: '';
                width: 80px;
                height: 2px;
                left: 0;
                top: 50px;
                position: absolute;
                background-color: #15518d;

                @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
                    top: 35px;
                }
            }
        }

        p {
            margin-top: 10px;
        }
    }

    &-overview {
        @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
            margin: 20px 0;
        }
        .btn--view-detail {
            text-align: right;
            padding-right: 25px;
            margin-right: 0;

            @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
                padding: 0;
                text-align: center;
            }
        }
    }
}

.request-info {
    // width: 100%;
    background-color: $color-blue;
    margin-left: 70px;

    @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
        margin-left: 0;
    }

    &-form {
        width: 100%;
        padding: 25px;
    }

    h4 {
        margin-top: 0;
        color: $color-white;
    }
}

#carousel-custom {
    margin-top:  10px;
    width: 100%;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}
.carousel-control.left {
    background-image: none;
    width: 54px;
    height: 54px;
    top: 50%;
    left: 20px;
    margin-top: -27px;
    line-height: 54px;
    border: 2px solid #fff;
    opacity: 1;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.carousel-control.right {
    background-image: none;
    width: 54px;
    height: 54px;
    top: 50%;
    right: 20px;
    margin-top: -27px;
    line-height: 54px;
    border: 2px solid #fff;
    opacity: 1;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}