<div class="container-fluid car-detail-container">
    <div class="row title-row">
        <div class="col-xs-12 col-md-12">
            <h2>{{carDetails[0].year}} {{carDetails[0].title}} {{carDetails[0].series}}</h2>
        </div>
    </div>

    <div class="row back-action">
        <div class="col-xs-12 col-md-12">
            <a (click)="goToCars()">
                <i class="fas fa-angle-double-left"></i>
                <span>Back to shop cars</span>
            </a>
        </div>
    </div>

    <div class="row car-images">
        <div class="col-xs-12 col-md-8">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            <!-- <img src="{{carDetails[0].img}}"> -->
            <div class="btn--actions">
                <a (click)="showDialog = !showDialog" class="btn btn-primary btn-lg">Continue Shopping</a>
                <a (click)="showDialog = !showDialog" class="btn btn-primary btn-lg">Add to Cart</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 car-overview side-bar">
            <div class="row">
                <table class="table table-condensed table-detail">
                    <tbody>
                        <tr>
                            <th>Stock No.</th>
                            <td>{{ carDetails[0].stockNum }}</td>
                        </tr>
                        <tr>
                            <th>Transmission</th>
                            <td>{{ carDetails[0].Transmission }}</td>
                        </tr>
                        <tr>
                            <th>Fuel</th>
                            <td>{{ carDetails[0].fuel }}</td>
                        </tr>
                        <tr>
                            <th>Engine</th>
                            <td>{{ carDetails[0].engine }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="request-info">
                    <div class="container  request-info-form">
                        <h3>Request Information</h3>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="fname" placeholder="Enter First Name"
                                    name="fname">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="lname" placeholder="Enter Last Name"
                                    name="lname">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Enter Email"
                                    name="email">
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" id="phone" placeholder="Enter Phone Number"
                                    name="phone">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="message" placeholder="Enter Message"
                                    name="message">Hi, I'm interested. Please contact me as soon as you can.</textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>

            </div>

            <!-- <div class="row btn--view-detail">
                <a (click)="showDialog = !showDialog" class="btn btn-primary btn-lg">Add to Cart</a>
            </div>


            <app-buy-now [(visible)]="showDialog">
                <div class="row car-images">
                    <div class="col-xs-12 col-md-4">
                        <img src="../../assets/img/mercedes-benz.jpg">
                    </div>
                    <div class="col-xs-12 col-md-8">

                    </div>

                </div>
            </app-buy-now> -->

            <!-- <div class="row btn--view-detail">
                <div class="col-xs-12 col-md-12">
                    <a class="btn btn-primary btn-lg" href="#">View Details</a>
                </div>

            </div> -->

        </div>
    </div>
    <div class="row car-description">
        <div class="col-xs-12 col-md-8 car-spec-tab">
            <div class="card">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab"
                            data-toggle="tab"><i class="fas fa-info"></i>  <span>Overview</span></a></li>
                    <li role="presentation"><a href="#specs" aria-controls="specs" role="tab" data-toggle="tab"><i class="fas fa-asterisk"></i><span>Specification</span></a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fas fa-cogs"></i>  <span>Settings</span></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="info">Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                        since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                    <div role="tabpanel" class="tab-pane" id="specs">Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book.</div>
                    <div role="tabpanel" class="tab-pane" id="settings">Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book. It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passage..</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 car-ad">
            <img src="../../assets/img/Cars/ford-ad.jpg">
        </div>
        <!-- <h4>Vehicle Description</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

            <h4>Feature & Options</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
    </div>

    <!-- <div class="col-xs-12 col-md-5 col-md-offset-1 request-info">
            <div class="container  request-info-form">
                <h4>Request Information</h4>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" id="phone" placeholder="Enter Phone Number" name="phone">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="message" placeholder="Enter Message"
                            name="message">Hi, I'm interested. Please contact me as soon as you can.</textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div> 
    </div>-->
</div>