<div class="container-fluid car-detail-container">
    <div class="row title-row">
        <div class="col-xs-12 col-md-12">
            <h2>{{carDetails[0].year}} {{carDetails[0].title}} {{carDetails[0].series}}</h2>
        </div>
    </div>

    <div class="row back-action">
        <div class="col-xs-12 col-md-12">
            <a (click)="goToCars()">
                <i class="fas fa-angle-double-left"></i>
                <span>Back to shop cars</span>
            </a>
        </div>
    </div>

    <div class="row car-images">
        <div class="col-xs-12 col-md-8">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            <div class="btn--actions">
                <a routerLink='/shopcars' class="btn btn-primary btn-lg">Continue Shopping</a>
                <a class="btn btn-primary btn-lg" (click)='showDialog = !showDialog; addToCart(carDetails[0])'>Buy Now</a>
            </div>

            <div *ngIf="showCartMessage">
                <app-popup [(visible)]="showDialog">
                    <div class="thank-you-pop">
                        <img src="../../assets/img/tick-blue.png" alt="">
                        <h1>{{carDetails[0].year}} {{carDetails[0].title}} {{carDetails[0].series}}</h1>
                        <p>Has been added to your cart</p>
                    </div>
                </app-popup>
            </div>

            <div class="row car-description">
                <div class="col-xs-12 col-md-12 car-spec-tab">
                    <div class="card">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab"
                                    data-toggle="tab"><i class="fas fa-info"></i>  <span>Overview</span></a></li>
                            <li role="presentation"><a href="#specs" aria-controls="specs" role="tab"
                                    data-toggle="tab"><i class="fas fa-asterisk"></i><span>Specification</span></a></li>
                            <li role="presentation"><a href="#feature" aria-controls="settings" role="tab"
                                    data-toggle="tab"><i class="fas fa-cogs"></i>  <span>Features</span></a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="info">Lorem Ipsum is simply dummy text of
                                the
                                printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                text ever
                                since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                a type
                                specimen book. It has survived not only five centuries, but also the leap into
                                electronic
                                typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                                release
                                of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing
                                software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                            <div role="tabpanel" class="tab-pane" id="specs">
                                <div class="row car-spec-table">
                                    <table class="table table-condensed">
                                        <thead>
                                            <h4>Engine</h4>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Layout / number of cylinders</th>
                                                <td>6</td>
                                            </tr>
                                            <tr>
                                                <th>Displacement</th>
                                                <td>3.4 l</td>
                                            </tr>
                                            <tr>
                                                <th>Engine Layout</th>
                                                <td>Mid-engine</td>
                                            </tr>
                                            <tr>
                                                <th>Horespower</th>
                                                <td>315 hp</td>
                                            </tr>
                                            <tr>
                                                <th>@ rpm</th>
                                                <td>6,700 rpm</td>
                                            </tr>
                                            <tr>
                                                <th>Torque</th>
                                                <td>266 lb.-ft.</td>
                                            </tr>
                                            <tr>
                                                <th>Compression ratio</th>
                                                <td>12.5 : 1</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table class="table table-condensed">
                                        <thead>
                                            <h4>Performance</h4>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Top Track Speed</th>
                                                <td>173 mph</td>
                                            </tr>
                                            <tr>
                                                <th>0 - 60 mph</th>
                                                <td>4.8 s</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table class="table table-condensed">
                                        <thead>
                                            <h4>Body</h4>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Length</th>
                                                <td>172.2 in.</td>
                                            </tr>
                                            <tr>
                                                <th>Width</th>
                                                <td>70.9 in.</td>
                                            </tr>
                                            <tr>
                                                <th>Height</th>
                                                <td>50.4 in.</td>
                                            </tr>
                                            <tr>
                                                <th>Wheelbase</th>
                                                <td>97.4 in.</td>
                                            </tr>
                                            <tr>
                                                <th>Maximum payload</th>
                                                <td>739 lbs</td>
                                            </tr>
                                            <tr>
                                                <th>Curb weight</th>
                                                <td>2910 lbs</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="feature">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4 car-feature-col">
                                        <h5>Entertainment</h5>
                                        <ul>
                                            <li>Central Locking</li>
                                            <li>Automatic Air Conditioning</li>
                                            <li>Full Leather Interior</li>
                                            <li>Electric Heated Seats</li>
                                            <li>Navigation GPS Multimedia</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-md-4 car-feature-col">
                                        <h5>Exterior Features</h5>
                                        <ul>
                                            <li>Parking Sensors</li>
                                            <li>Double Exhaust</li>
                                            <li>Electric Mirrors</li>
                                            <li>Manifacturing Year 2019</li>
                                            <li>Full Service History</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-md-4 car-feature-col">
                                        <h5>Interior Features</h5>
                                        <ul>
                                            <li>ABS</li>
                                            <li>Xenon Headlights</li>
                                            <li>Immobilizer</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 car-overview side-bar">
            <div class="row">
                <table class="table table-condensed table-detail">
                    <thead>
                        <h4>$ {{ carDetails[0].price }}</h4>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Stock No.</th>
                            <td>{{ carDetails[0].stockNum }}</td>
                        </tr>
                        <tr>
                            <th>Transmission</th>
                            <td>{{ carDetails[0].Transmission }}</td>
                        </tr>
                        <tr>
                            <th>Fuel</th>
                            <td>{{ carDetails[0].fuel }}</td>
                        </tr>
                        <tr>
                            <th>Engine</th>
                            <td>{{ carDetails[0].engine }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="request-info">
                    <div class="container  request-info-form">
                        <h3>Request Information</h3>
                        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="gobottom">
                            <div class="form-group">
                                <input placeholder="Car Name" type="text" class="form-control"
                                    value="{{carDetails[0].year}} {{carDetails[0].title}} {{carDetails[0].series}}"
                                    disabled />
                            </div>
                            <div class="form-group">
                                <input placeholder="Enter First Name" type="text" formControlName="firstName" id="fname"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                                <label for="fname">First Name</label>
                                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                    <div *ngIf="f.firstName.errors.pattern">
                                        First Name not valid.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input placeholder="Enter Last Name" type="text" formControlName="lastName" id="lname"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                                <label for="lname">Last Name</label>
                                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                    <div *ngIf="f.lastName.errors.pattern">
                                        Last Name not valid.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" placeholder="Enter Email Address" class="form-control"
                                    formControlName="emailAdd" id="emailAdd"
                                    [ngClass]="{ 'is-invalid': submitted && f.emailAdd.errors }" />
                                <label for="emailAdd">Email Address</label>
                                <div *ngIf="submitted && f.emailAdd.errors" class="invalid-feedback">
                                    <div *ngIf="f.emailAdd.errors.required">Email address is required</div>
                                    <div *ngIf="f.emailAdd.errors.pattern">
                                        Email Address is not valid. Must have '@' and '.'
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Enter Phone Number" id="phoneNum"
                                    formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                                <label for="phoneNum">Phone Number</label>
                                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                    <div *ngIf="f.phone.errors.required">Phone Number is required</div>
                                    <div *ngIf="f.phone.errors.pattern">
                                        Phone Number is digit only with minimum 8 to maximum 12 characters
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Enter Message..." type="textarea"
                                    id="message" maxlength="6000" formControlName="message" id="textAreaMsg"
                                    [ngClass]="{ 'is-invalid': submitted && f.message.errors }">Hi, I'm interested. Please contact me as soon as you can.</textarea>
                                <label for="message">Your Message</label>
                                <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                                    <div *ngIf="f.message.errors.required">Message is required</div>
                                </div>
                            </div>
                            <button type="submit" (click)="showDialog = !showDialog"
                                class="btn btn-default">Submit</button>

                            <div *ngIf="showMsg">
                                <app-popup [(visible)]="showDialog">
                                    <div class="thank-you-pop">
                                        <img src="../../assets/img/tick-blue.png" alt="">
                                        <h1>Thank You!</h1>
                                        <p>Your message has been posted and we will contact you soon</p>
                                    </div>
                                </app-popup>
                            </div>
                        </form>
                    </div>
                </div>

                <app-car-financing></app-car-financing>
                
            </div>
        </div>
    </div>
</div>