<div class="row">
    <div class="hero-image">
        <div class="hero-text">
            <h2>Schedule your appointment</h2>

            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="gobottom">
                <div class="row">
                    <div class="col-sm-5 form-group">
                        <input placeholder="First Name" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" id="fname"
                        />
                        <label for="fname">First Name</label>
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                            <div *ngIf="f.firstName.errors.pattern">
                                First Name not valid.
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5 col-sm-offset-1 form-group">
                        <input placeholder="Last Name" type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" id="lname"
                        />
                        <label for="lname">Last Name</label>
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            <div *ngIf="f.lastName.errors.pattern">
                                Last Name not valid.
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5 form-group">
                        <input type="email" placeholder="Email Address" class="form-control" formControlName="emailAdd" [ngClass]="{ 'is-invalid': submitted && f.emailAdd.errors }" id="emailAdd"
                        />
                        <label for="emailAdd">Email Address</label>
                        <div *ngIf="submitted && f.emailAdd.errors" class="invalid-feedback">
                            <div *ngIf="f.emailAdd.errors.required">Email address is required</div>
                            <div *ngIf="f.emailAdd.errors.pattern">
                                Email Address is not valid. Must have '@' and '.'
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5 col-sm-offset-1 form-group">
                        <input type="tel" class="form-control" placeholder="Phone Number" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" id="phoneNum"
                        />
                        <label for="phoneNum">Phone Number</label>
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Phone Number is required</div>
                            <div *ngIf="f.phone.errors.pattern">
                                Phone Number is not valid
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-11 form-group">
                        <textarea class="form-control" placeholder="Enter Message..." type="textarea" maxlength="6000" rows="7" formControlName="message" id="message"
                            [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                        <label id="message" for="message">Your Message</label>
                        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                            <div *ngIf="f.message.errors.required">Message is required</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-11 form-group">
                        <button type="submit" (click)="showDialog = !showDialog" class="btn btn-md btn-default pull-right">Send →</button>
                    </div>
                </div>

                <div *ngIf="showMsg">
                    <app-popup [(visible)]="showDialog">
                        <div class="thank-you-pop">
                            <img src="../../assets/img/tick-blue.png" alt="">
                            <h1>Thank You!</h1>
                            <p>Your message has been posted and we will contact you soon</p>
                        </div>
                    </app-popup>
                </div>
            </form>
        </div>
    </div>
</div>