<div class="row row-container">
    <div class="col-xs-12 col-md-12 col-lg-12 carousel-container">
        <app-carousel></app-carousel>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12 service-container">
        <app-service-provided></app-service-provided>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12 featured-container">
        <app-featured-items></app-featured-items>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12 body-type-container">
        <app-body-type></app-body-type>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12 brand-container">
        <app-brands></app-brands>
    </div>
</div>