<div class="container-fluid container-fluid--carousel">
    <!-- <h2>Carousel Example</h2> -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active carousel-image overlay-effect">
                <img class="img-desktop" src="../../../assets/img/Carousel/car4_1.jpg" alt="caption1">
                <img class="img-mobile" src="../../../assets/img/Carousel/car4.jpg" alt="caption1">
                <div class="carousel-caption">
                    <h3>Your One Stop for your next car !</h3>
                    <div class="row btn-carousel--link">
                        <div class="col-xs-6 col-md-6 text-center">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Shop Now</a>
                        </div>
                        <div class="col-xs-6 col-md-6 text-center">
                            <a href="#" class="btn btn-default btn-lg" role="button">Contact Us</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="item carousel-image">
                <img class="img-desktop" src="../../../assets/img/Carousel/car5_1.jpg" alt="caption2">
                <img class="img-mobile" src="../../../assets/img/Carousel/car5.jpg" alt="caption2">
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>