@import '../../../styles.scss';

.carousel {
  &-image {
    img {
      width: 100%;
    }

    .img-mobile {
      display: none;

      @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
        display: block;
      }
    }

    .img-desktop {
      display: none;

      @media only screen and (min-width: 812px) {
        display: block;
      }
    }
  }

  &-caption {
    max-width: 270px;
    right: 0;
    left: 15%;
    bottom: 150px;

    @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
      left: 10px;
      bottom: 20px;
      padding: 0 30px;
    }

    @media only screen and (min-width: 768px) {
      top: 30%;
      max-width: 420px;
      left: calc(100% - 560px);
    }

    .btn-carousel--link {
      text-align: left;
      // display: flex;

      // @media only screen and (min-width: 768px) {
      //   display: block;
      // }

    }

    h3 {
      text-align: left;
      text-transform: uppercase;
      font-weight: 700;

      @media only screen and (min-width: 768px) {
        margin: 35px 0;
      }

    }
    
    .btn-lg {
      text-align: center;
      max-width: 165px;

      @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
        font-size: 14px;
      }

      @media only screen and (min-width: 768px) {
        width: 175px;
      }

      &.btn-default {
        color: $color-blue;

        &:hover {
          color: $color-white;
          background-color: $color-blue;
        }
      }

      &.btn-primary {
        color: $color-white;
        background-color: $color-blue;

        &:hover {
          color: $color-blue;
          background-color: $color-white;
        }
      }
    }


  }
}

.container-fluid {
  &--carousel {
    padding: 0;
  }

  &-indicators {
    @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
      bottom: -12px;
    }

  }
}
