<div class="container-fluid service-container--row">
    <div class="row">
        <div class="col-xs-12 col-md-6 service-box">
            <a href="#">
                <div class="service-heading">
                    <i class="fa fa-calendar"></i>
                    <h4>Book an appointment</h4>
                </div>
            </a>
           
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="col-xs-12 col-md-6 service-box">
            <a href="#">
                <div class="service-heading">
                    <i class="fa fa-dollar"></i>
                    <h4>Car Financing</h4>
                </div>
            </a>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</div>
