@import '../../../styles.scss';

.service {
    &-box {
        border-right: 1px solid $color-gray;
        padding: 110px 55px;

        @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
            border-right: 0;
            padding: 25px 35px;
            border-bottom: 1px solid $color-gray;
        }

        @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
            padding: 65px 55px;
        }


        &:hover {
            background-color: $color-blue;
            color: $color-white;

            i {
                color: $color-white;
            }

            a {
                h4 {
                    color: $color-white;
                }

                p {
                    color: $color-white;
                }

            }
        }

        &:last-child {
            border-right: none;
            border-bottom: 1px solid $color-gray;

            
            @media only screen and (min-width: 812px) {
                border: none;
            }
        }

        a {
            p {
                color: $color-dark-gray;
                
            }
            &:hover {
                text-decoration: none;

            }

            h4 {
                color: $color-blue;
            }
        }

        i {
            font-size: 40px;
            padding: 0 10px;
            color: $color-blue;
        }

        h4 {
            text-transform: uppercase;
        }

        p {
            padding: 15px 0;
            text-align: justify;
        }
    }

    &-heading {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}