<div class="container-fluid shop-cars-container">
    <div class="row title-row">
        <div class="col-xs-12 col-md-12">
            <h2>Shop Cars</h2>
        </div>
    </div>

    <div class="row car-list">
        <app-filter-cars (filterEmitter)="selectedYear($event)"></app-filter-cars>
        <div class="col-xs-12 col-md-9 col-md-offset-1 car-list-section">
            <div class="row sorting-row">
                <div class="col-xs-12 col-md-12 sorting-section">
                    <p>Sort : </p>
                    <ul>
                        <li>
                            <a href="#">
                                Year
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Make
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Model
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Price
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Mileage
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <app-car-list [currentFilter]="filterApplied"></app-car-list>

        </div>
    </div>
</div>