<div class="container-fluid shop-cars-container">
    <div class="row title-row">
        <div class="col-xs-12 col-md-12">
            <h2>Shop Cars</h2>
        </div>
    </div>

    <div class="row car-list">
        <div class="col-md-2 filter-section">
            <h4>5 Vehicle(s) found</h4>
            <p>Refine your search</p>

            <div class="row filter-list">
                <div class="col-md-12">
                    <p>Year</p>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li><a href="#">2019</a></li>
                        <li><a href="#">2018</a></li>
                        <li><a href="#">2017</a></li>
                        <li><a href="#">2016</a></li>
                        <li><a href="#">2015</a></li>
                    </ul>
                </div>
            </div>

            <div class="row filter-list">
                <div class="col-md-12">
                    <p>Price</p>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li><a href="#">$0 - $1999</a></li>
                        <li><a href="#">$2000 - $4999</a></li>
                        <li><a href="#">$5000 - $7999</a></li>
                        <li><a href="#">$8000 - $11999</a></li>
                        <li><a href="#">$12000 - $14999</a></li>
                        <li><a href="#">$15000 - $25000</a></li>
                    </ul>
                </div>
            </div>

            <div class="row filter-list">
                <div class="col-md-12">
                    <p>Body Type</p>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li><a href="#">Sedans</a></li>
                        <li><a href="#">Coupes</a></li>
                        <li><a href="#">Convertibles</a></li>
                        <li><a href="#">SUVs</a></li>
                        <li><a href="#">Vans</a></li>
                        <li><a href="#">Trucks</a></li>
                    </ul>
                </div>
            </div>


            <div class="row filter-list">
                <div class="col-md-12">
                    <p>Make</p>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li><a href="#">Honda</a></li>
                        <li><a href="#">Acura</a></li>
                        <li><a href="#">Mercedes</a></li>
                        <li><a href="#">Kia</a></li>
                        <li><a href="#">Lamborghini</a></li>
                        <li><a href="#">Audi</a></li>
                        <li><a href="#">Ford</a></li>
                        <li><a href="#">Jeep</a></li>
                        <li><a href="#">Hyundai</a></li>
                        <li><a href="#">Volkswagen</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-9 col-md-offset-1 car-list-section">
            <div class="row sorting-row">
                <div class="col-xs-12 col-md-12 sorting-section">
                    <p>Sort : </p>
                    <ul>
                        <li>
                            <a href="#">
                                Year
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Make
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Model
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Price
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Mileage
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row car-row">
                <div class="col-xs-12 col-md-3 car-img">
                    <img src="../../assets/img/mercedes-benz.jpg">
                </div>

                <div class="col-xs-12 col-md-8 col-md-offset-1 car-detail">
                    <div class="car-title">
                        <h4>2015 mercedes-benz cla 250</h4>
                        <h4>$21500</h4>
                    </div>


                    <div class="row">
                        <table class="table table-condensed table-detail">
                            <tbody>
                                <tr>
                                    <th>Stock No.</th>
                                    <td>MER001</td>
                                </tr>
                                <tr>
                                    <th>Transmission</th>
                                    <td>Automatic</td>
                                </tr>
                                <tr>
                                    <th>Fuel</th>
                                    <td>Diesel</td>
                                </tr>
                                <tr>
                                    <th>Engine</th>
                                    <td>Turbocharged four-cylinder engine</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn--view-detail">
                            <a (click)="showDialog = !showDialog" class="btn btn-primary btn-lg">View Details</a>
                        </div>


                        <app-buy-now [(visible)]="showDialog">
                            <div class="row car-images">
                                <div class="col-xs-12 col-md-4">
                                    <img src="../../assets/img/mercedes-benz.jpg">
                                </div>
                                <div class="col-xs-12 col-md-8">

                                </div>

                            </div>
                        </app-buy-now>
                        <!-- <div class="btn--view-detail">
                            <a class="btn btn-primary btn-lg" href="#">View Details</a>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="row car-row">
                <div class="col-xs-12 col-md-3 car-img">
                    <img src="../../assets/img/mercedes-benz.jpg">
                </div>

                <div class="col-xs-12 col-md-8 col-md-offset-1 car-detail">
                    <div class="car-title">
                        <h4>2015 mercedes-benz cla 250</h4>
                        <h4>$21500</h4>
                    </div>


                    <div class="row">
                        <table class="table table-condensed table-detail">
                            <tbody>
                                <tr>
                                    <th>Stock No.</th>
                                    <td>MER001</td>
                                </tr>
                                <tr>
                                    <th>Transmission</th>
                                    <td>Automatic</td>
                                </tr>
                                <tr>
                                    <th>Fuel</th>
                                    <td>Diesel</td>
                                </tr>
                                <tr>
                                    <th>Engine</th>
                                    <td>Turbocharged four-cylinder engine</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn--view-detail">
                            <a class="btn btn-primary btn-lg" href="#">View Details</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>