<!-- <footer class="footer-section">
    <div class="row footer-row">
        <div class="col-xs-12 col-md-12 footer-columns">
            <h3>Our Popular Brand</h3>
            <hr>
        </div>
    </div>
    <div class="row">
       
    </div>
</footer> -->
<div class="footer">
    <div class="row">
        <div class="col-xs-12 col-md-3 footer-content">
            <div class="footer-heading">
                <h4>Address</h4>
            </div>
            <div class="footer-text">
                <h4>1 Yonge St #1801, Toronto, ON M5E 1W7</h4>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 footer-content">
            <div class="footer-heading">
                <h4>Phone</h4>
            </div>
            <div class="footer-text">
                <h4>+568878888</h4>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 footer-content">
            <div class="footer-heading">
                <h4>Email</h4>
            </div>
            <div class="footer-text">
                <h4>turbo@gmail.com</h4>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 footer-content">
            <div class="footer-heading">
                <h4>Address</h4>
            </div>
            <div class="footer-text">
                <h4>1 Yonge St #1801, Toronto, ON M5E 1W7</h4>
            </div>
        </div>
    </div>
    <!-- <div class="row copyright-section">
        <div class="col-xs-12 col-md-12">
            copyright
        </div>
    </div> -->
</div>