<!-- <footer class="footer-section">
    <div class="row footer-row">
        <div class="col-xs-12 col-md-12 footer-columns">
            <h3>Our Popular Brand</h3>
            <hr>
        </div>
    </div>
    <div class="row">
       
    </div>
</footer> -->
<div class="footer">
    <div class="row">
        <div class="col-xs-12 col-md-3 footer-content">
            <div class="footer-heading">
                <p>Address</p>
            </div>
            <div class="footer-text">
                <p>1 Yonge St #1801, Toronto, ON M5E 1W7</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 footer-content">
            <div class="footer-heading">
                <p>Phone</p>
            </div>
            <div class="footer-text">
                <p>+568878888</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 footer-content">
            <div class="footer-heading">
                <p>Email</p>
            </div>
            <div class="footer-text">
                <a href="mailto:turbo@gmail.com">
                    <p>turbo@gmail.com</p>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 footer-content">
            <div class="footer-heading">
                <p>Follow Us</p>
            </div>
            <div class="footer-text">
                <div class="social-icons">
                    <a href="www.facebook.com"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="www.twitter.com"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>