<div class="col-md-2 filter-section">
    <h4>5 Vehicle(s) found</h4>
    <p>Refine your search</p>

    <div class="row filter-list">
        <div class="col-md-12">
            <p>Year</p>
        </div>
        <div class="col-md-12">
            <ul *ngFor="let yearOption of yearOptions">
                <li>
                    <input type="checkbox" name="checkbox" value="{{yearOption.value}}" [(ngModel)]="yearOption.checked"
                        (change)="onFilter()" #checkboxes>
                    <span>{{yearOption.name}}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row filter-list">
        <div class="col-md-12">
            <p>Make</p>
        </div>
        <div class="col-md-12">
            <ul *ngFor="let brandOption of brandOptions">
                <li><input type="checkbox" value="{{brandOption.value}}" [(ngModel)]="brandOption.checked"
                        (change)="onFilter()" #checkboxes><span>{{brandOption.name}}</span></li>
            </ul>
        </div>
    </div>

    <div class="row filter-list">
        <div class="col-md-12">
            <p>Price</p>
        </div>
        <div class="col-md-12">
            <ul *ngFor="let priceOption of priceOptions">
                <li><input type="checkbox" value="{{priceOption.value}}" [(ngModel)]="priceOption.checked"
                        (change)="onFilter()" #checkboxes><span>{{priceOption.name}}</span></li>
            </ul>
        </div>
    </div>

    <div class="row filter-list">
        <div class="col-md-12">
            <p>Body Type</p>
        </div>
        <div class="col-md-12">
            <ul *ngFor="let bodyTypeOption of bodyTypeOptions">
                <li><input type="checkbox" value="{{bodyTypeOption.value}}" [(ngModel)]="bodyTypeOption.checked" (change)="onFilter()" #checkboxes><span>{{bodyTypeOption.name}}</span></li>
            </ul>
        </div>
    </div>
</div>