<div class="container-fluid">
    <div class="row counter-row">
        <div class="col-xs-12 col-md-4 counter-box">
            <i class="fas fa-car"></i>
            <h3 [countUp]="345">0</h3>
            <p>Car Sold</p>
        </div>
        <div class="col-xs-12 col-md-4 counter-box">
            <i class="far fa-money-bill-alt"></i>
            <span>$</span><h3 [countUp]="345">0</h3>
            <p>Amount Sold</p>
        </div>
        <div class="col-xs-12 col-md-4 counter-box">
            <i class="fas fa-users"></i>
            <h3 [countUp]="100">0</h3>
            <p>Customer Satisfaction</p>
        </div>
    </div>
</div>