<div class="container-fluid">
    <div class="row counter-row">
        <div class="col-xs-12 col-md-4 counter-box">
            <i class="fas fa-car"></i>
            <h3 [countUp]="345" [options]="{duration : 9}">0</h3>
            <p>Car Sold</p>
        </div>
        <div class="col-xs-12 col-md-4 counter-box">
            <i class="far fa-money-bill-alt"></i>
            <div class="count">
                <h3>$</h3>
                <h3 [countUp]="50000000" [options]="{duration : 9}">0</h3>
            </div>
            <p>Amount Sold</p>
        </div>
        <div class="col-xs-12 col-md-4 counter-box">
            <i class="fas fa-users"></i>
            <div class="count">
                <h3 [countUp]="100" [options]="{duration : 9}">0</h3>
                <h3>%</h3>
            </div>
            <p>Customer Satisfaction</p>
        </div>
    </div>
</div>