@import '../../../styles.scss';

.counter {
    &-row {
        background: url('../../../assets/img/silver-car-banner-img.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: overlay;
    }

    &-box {
        text-align: center;
        padding: 60px 0;
        @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
            padding: 30px 0;
        }
        i {
            font-size: 65px;
            color: $color-white;
        }

        h3 {
            color: $color-white;
        }

        p {
            color: $color-white;
        }
    }
}

.count {
    display: flex;
    justify-content: center;
}