<div class="form-wrapper__right--sign-in">
    <h3>Sign In</h3>
    <p>Connect with</p>
    <div class="social-login">
        <a (click)="signInWithFB()" class="social-login__link social-login__link--facebook"><i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="social-login__link social-login__link--twitter"><i class="fab fa-twitter"></i>
        </a>
    </div>
    <div class="divider">
        <span>or</span>
    </div>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p class="error" *ngIf="error">{{error}}</p>
        <div class="form-group">
                <input type="text" placeholder="Username" formControlName="username"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="form__input form-control" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div class="error" *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form__input form-control"
                    placeholder="Password" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>

            <button class="button button__primary">Sign In</button>
        <a href="#" class="forgot-password">Forgot password?</a>
    </form>
</div>