/* You can add global styles to this file, and also import other style files */
/*Color Code*/
$color-blue: #15518d;
$color-light-blue: #166abf;
$color-dark-blue: #0d4176;
$color-lighter-blue: #85a4c1;
$color-white: #fff;
$color-gray: #eee;
$color-black: #000;
$color-dark-gray: #333;

@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

html, body {
    font-family: 'Oxygen', sans-serif;
}


/*Media Queries*/

@mixin extra-small {
    @media (max-width: 599px) { @content; }  
}

@mixin small {
    @media (min-width: 600px) { @content; }
}

@mixin medium {
    @media (min-width: 900px) { @content; }
}

@mixin large {
    @media (min-width: 1200px) { @content; }
}

@mixin extra-large {
    @media (min-width: 1800px) { @content; }
}

html {
    position: relative;
    min-height: 100%;
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.row-container {
    margin-top: -21px;
}

.carousel-container {

    padding: 0 !important;
}

.service-container {
    padding: 0 !important;
}

.featured-container {
    padding: 0 !important;
    background-color: $color-gray;
}

.brand-container {
    padding: 0 !important;
}


.title-row {
    background-color: $color-gray;
}
// .footer-section {
//     padding: 0 !important;
//     background-color: $color-blue;
// }

.slick-prev {
    left: -15px !important;
}

.slick-next {
    right: -15px !important;
}

.slick-prev::before, .slick-next::before {
    color: $color-blue !important;
}

h2 {
    text-transform: uppercase;
    font-weight: 500;
}

h3 {
    line-height: 35px;

    @media only screen and (min-width: 768px) {
        font-size: 35px;
        line-height: 40px;
    }
}

h4 {
    @media only screen and (min-width: 768px) {
        font-size: 25px;
        line-height: 40px;
    } 
    
    // &:before {
    //     content: "";
    //     width: 100%;
    //     height: 1px;
    //     background-color:
    //     #e7e6e6;
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    // }

    // &:after {
    //     content: '';
    //     width: 80px;
    //     height: 2px;
    //     left: 0;
    //     bottom: -1px;
    //     position: absolute;
    //     background-color: #15518d;
    // }
}

p {
    line-height: 25px;
    font-size: 14px;

    @media only screen and (min-width: 812px) {
        font-size: 18px
    }

}

.slick-slider {  
    width: 90%;  
    margin: auto;  
  }

.btn--view-detail {
    text-align: center;
    padding: 15px 0;

    a {
        background-color: $color-blue;
        padding: 6px 35px;

        &:hover {
            background-color: $color-black;
        }
    }
}

.invalid-feedback {
    color: red;
}