/* You can add global styles to this file, and also import other style files */
/*Color Code*/
$color-blue: #15518d;
$color-light-blue: #166abf;
$color-white: #fff;

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}