@import '../../styles.scss';

header {

    .navbar-inverse {
        background: $color-blue;
        border: none;

        .navbar-toggle:focus {
            background-color: $color-light-blue;
        }

        .navbar-toggle:hover {
            background-color: $color-light-blue;
        }
    }

    .navbar-nav {
        li {
            a{
                color: $color-white;

                &:hover {
                    background-color: $color-light-blue;
                }

                @media only screen and (min-width: 768px) {
                    &:hover {
                        border-top: 5px solid $color-white;
                        font-weight: 700;
                    }
                }
            }
        }

        .active {
            a {
                background-color: $color-blue;
            }

        }
    }
    .navbar-header {
        float: none;

        .navbar-toggle {
            margin-top: 20px;
        }
    }

    .navbar {
        border-radius: 0;
    }

    .logo-container {
        border-bottom: 1px solid $color-white;
        img {
            width: 80px;
            margin: 0 10px;
        }
    }
}