<div class="row nav-container">
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="header-middle">
                        <div class="logo-container">
                            <a routerLink="/">
                                <img src="../../assets/img/turbo-logo.png">
                            </a>
                        </div>

                        <div class="header-middle__contact">
                            <div class="location-container">
                                <div class="location-icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="location-text header-text">
                                    <a href="https://www.google.mu/maps/place/1+Yonge+St+%231801,+Toronto,+ON+M5E+1W7,+Canada/@43.6423886,-79.3764527,17z/data=!3m1!4b1!4m5!3m4!1s0x89d4cb2bdf8071a5:0x47826b6b0bee317d!8m2!3d43.6423886!4d-79.374264">
                                        <p>1 Yonge St #1801, </p>
                                        <p>Toronto, ON M5E 1W7</p>
                                    </a>
                                </div>
                            </div>

                            <div class="call-container">
                                <div class="call-icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="call-text header-text">
                                    <a href="tel:568878888">
                                        <p>Call today:</p>
                                        <p>+568878888</p>
                                    </a>

                                </div>
                            </div>

                            <div class="time-container">
                                <div class="time-icon">
                                    <i class="fas fa-clock"></i>
                                </div>
                                <div class="time-text header-text">
                                    <p>Mon - Fri : 9am - 6pm</p>
                                    <p>Sat - Sun : 9am - 1pm</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="navbar-items collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="nav-link" routerLink="/">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" routerLink="/shopcars">Shop Cars</a>
                        </li>
                        <li>
                            <a class="nav-link" routerLink="/services">Services</a>
                        </li>
                        <li>
                            <a class="nav-link" routerLink="/contact">Contact Us</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li id="signUpIn">
                            <a class="nav-link" routerLink="/signup">
                                <span class="glyphicon glyphicon-user"></span> Sign Up / Login</a>
                        </li>
                        <li>
                            <a class="nav-link" *ngIf="currentUser" (click)="logout()">
                                <span class="glyphicon glyphicon-user"></span> LogOut</a>
                        </li>
                        <li>
                            <a class="nav-link" *ngIf="currentSocialUser" (click)="signOut()">
                                <span class="glyphicon glyphicon-user"></span> LogOutFB</a>
                        </li>
                        <li>
                            <a [routerLink]="['/cart']">
                                <span class="fa-stack fa-2x has-badge" data-count="quantity">
                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                </span>
                            </a>
                            <!-- <a (click)="showDialog = !showDialog">
                                <span class="fa-stack fa-2x has-badge" data-count="1">
                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                </span>
                            </a> -->
                        </li>
                    </ul>
                </div>

                <app-popup [(visible)]="showDialog">
                    <div class="row car-images">
                        <div class="col-xs-12 col-md-12">
                            <table id="cart" class="table table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th style="width:50%">Car</th>
                                        <th style="width:10%">Price</th>
                                        <th style="width:8%">Quantity</th>
                                        <th style="width:22%" class="text-center">Subtotal</th>
                                        <th style="width:10%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-th="Product">
                                            <div class="row">
                                                <div class="col-sm-2 hidden-xs">
                                                    <img src="http://placehold.it/100x100" alt="..." class="img-responsive" />
                                                </div>
                                                <div class="col-sm-10">
                                                    <p class="nomargin">Car 1</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Price">$21500</td>
                                        <td data-th="Quantity">
                                            <input type="number" class="form-control text-center" value="1">
                                        </td>
                                        <td data-th="Subtotal" class="text-center">21500</td>
                                        <td class="actions" data-th="">
                                            <button class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="visible-xs">
                                        <td class="text-center">
                                            <strong>Total 1.99</strong>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="btn">
                                                <i class="fa fa-angle-left"></i>
                                                Continue Shopping</a>
                                        </td>
                                        <td colspan="2" class="hidden-xs"></td>
                                        <td class="hidden-xs text-center">
                                            <strong>Total $150.00</strong>
                                        </td>
                                        <td>
                                            <a href="https://www.paypal.com/webapps/shoppingcart?mfid=1546373779156_cb91e3a2b2dc7&flowlogging_id=cb91e3a2b2dc7#/checkout/shoppingCart"
                                                class="btn btn-primary btn-lg">Checkout
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </app-popup>
            </div>
        </nav>

    </header>



</div>