@import '../../styles.scss';

.header-top {
    background-color: #0d4176;
    color: $color-white;

    &-left {
        display: flex;
        padding: 0;
        align-items: center;
        
        &__number {
            background-color: $color-light-blue;
            padding: 5px 10px;
            height: 90px;

            // @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
            //     padding: 15px 10px;
            // }

            
            @media only screen and (min-device-width: 812px) {
                padding: 12px 45px;
            }

            a {
                color: $color-white;
            }
  
        }

        .arrow-right {
            width: 0; 
            height: 0; 
            border-top: 45px solid transparent;
            border-bottom: 45px solid transparent;
            
            border-left: 45px solid $color-light-blue;

            
            @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
                border-top: 45px solid transparent;
                border-bottom: 45px solid transparent;
            
                border-left: 45px solid $color-light-blue;
            }


            // @media only screen and (min-device-width: 812px) {
            //     border-top: 30px solid transparent;
            //     border-bottom: 30px solid transparent;
                
            //     border-left: 30px solid $color-light-blue;
            // }
        }

        &__social {
            ul {
                display: flex;
                list-style: none;
                padding-left: 0;

                        
                @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
                    align-items: center;
                    margin: 0;
                }
                @media only screen and (min-device-width: 812px) {
                    padding-left: 15px;
                }
                a {
                    font-size: 25px;
                    i {
                        color: $color-white;
                        opacity: 0.5;


                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                li {
                    padding: 0 10px;
                    

                    &:last-child {
                        background-color: $color-light-blue;
                        padding: 15px 10px;
                        text-align: center;
                        height: 90px;
                        @media only screen and (min-device-width: 812px) {
                            display: none;
                        }
                        a {
                            color: $color-white;
                            font-size: 14px;
                            text-decoration: none;
                        }
                    }
                }
            }

        }

        .blink-effect {
            font-size: 14px;
            @media only screen and (min-device-width: 812px) {
                font-size: 18px;
            }
            span {
                text-decoration: blink;
                -webkit-animation-name: blinker;
                -webkit-animation-duration: 0.6s;
                -webkit-animation-iteration-count:infinite;
                -webkit-animation-timing-function:ease-in-out;
                -webkit-animation-direction: alternate;
            }

        }
    }

    &-right {

        
        @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
            display: none;
        }

        ul {
            padding: 17px 55px;
            margin: 0 255px;
            background-color:#166abf;
            list-style: none;

            @media only screen and (min-device-width: 812px) {
                padding: 32px 55px;
            }
    

            li {
                a {
                    color: $color-white;
                    text-decoration: none;
                    font-size: 18px;
                }
            }
        }

    }
}

.header-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-white;

    &__contact {
        display: flex;

        @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
            display: none;
        }

        .location-container {
            display: flex;
            padding: 0 10px;
            align-items: center;

            .location {
                &-icon {
                    padding:10px 20px;
                    background-color: $color-dark-blue;
                    border-radius: 50%;
                    i {
                        font-size: 25px;
                    }
                }
            }
        }

        .call-container {
            display: flex;
            padding: 0 10px;
            align-items: center;

            .call {
                &-icon {
                    padding:10px 20px;
                    background-color: $color-dark-blue;
                    border-radius: 50%;
                    i {
                        font-size: 25px;
                    }
                }
            }
        }

        .time-container {
            display: flex;
            padding: 0 10px;
            align-items: center;

            .time {
                &-icon {
                    padding:10px 20px;
                    background-color: $color-dark-blue;
                    border-radius: 50%;
                    i {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

.header-text {
    padding: 0 10px;
    color: $color-white;
    p {
        margin-bottom: 0;

        &:last-child {
            opacity: 0.5;
        }
    }
}

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }

.nav-container {
    margin-left: 0;
    margin-right: 0;
}
header {

    .navbar-inverse {
        background: $color-blue;
        border: none;

        &:before {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 5px;
            background: #21211f;
            z-index: 1;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -4px;
            width: 50%;
            height: 5px;
            background: #ffffff;
            -webkit-transform: skewX(-45deg);
            -moz-transform: skewX(-45deg);
            -ms-transform: skewX(-45deg);
            -o-transform: skewX(-45deg);
            transform: skewX(-45deg);
            z-index: 1;
        }

        .container-fluid {
            

            @media only screen and (min-device-width: 812px) {
                padding: 0 170px;
            }

            .navbar-items {
                padding: 10px 15px;
            }
        }

        .navbar-toggle:focus {
            background-color: $color-light-blue;
        }

        .navbar-toggle:hover {
            background-color: $color-light-blue;
        }
    }

    .navbar-nav {
        li {
            a{
                color: $color-white;

                @media only screen and (min-width: 768px) {
                    &:hover {
                        border-top: 5px solid $color-white;
                        font-weight: 700;
                    }
                }
            }
        }

        .active {
            a {
                background-color: $color-blue;
            }

        }
    }
    .navbar-header {
        float: none;

        .navbar-toggle {
            margin-top: 20px;
        }
    }

    .navbar {
        border-radius: 0;
    }

    .logo-container {

        img {
            width: 100px;
            margin: 0 10px;
        }
    }
}

.cart-number {
    border-radius: 50%;
    padding: 8px;
    background:#fff;
    border: 2px solid#666;
    color:#666;
    text-align: center;
    font-size: 10px;
}

.glyphicon-shopping-cart {
    padding: 0 5px;
}

.form-wrapper {
    width: 320px;
    height: 500px;
    border-radius: 4px;
    background: #2F366D;
    color: #FDF3F8;
    box-shadow: 0px 1px 10px 3px rgba(145, 125, 160, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.form-wrapper img {
    height: 100%;
    position: absolute;
    top: 0;
    left: -50%;
    opacity: .3;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.form-wrapper .content-wrapper {
    position: relative;
    opacity: 1;
    width: 320px;
    height: 500px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-login {
    margin: 4rem auto;
}

.form-login input {
    margin: 5px auto;
    display: block;
    border-radius: 4px;
    background: none;
    color: rgba(253, 243, 248, 1);
    border: 2px solid rgba(85, 112, 172, .8);
    padding: 10px;
    width: 200px;
    font-weight: bolder;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.form-login button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-weight: bolder;
    color: #FDF3F8;
    background: #ec6838;
    border: none;
    border-radius: 4px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.form-login input:focus {
    outline: none;
    color: rgba(253, 243, 248, 1);
    background: rgba(85, 112, 172, .8);
    border-width: 2px;
    border-style: solid;
    border-color: rgba(85, 112, 172, .8);
}

.form-login input:hover {
    color: rgba(253, 243, 248, 1);
    background: rgba(85, 112, 172, .8);
    border-width: 2px;
    border-style: solid;
    border-color: rgba(85, 112, 172, .8);
}

.form-login button:hover {
    cursor: pointer;
    box-shadow: 0px 1px 10px 1px rgba(236, 104, 56, .6);
}

.form-wrapper .content-wrapper p {
    font-size: .7rem;
    color: rgba(223, 214, 217, .6);
}

.form-wrapper .content-wrapper a {
    color: #FDF3F8;
    text-decoration: none;
}

#wrapper-signup {
    opacity: 0;
    pointer-events: none;
}

#wrapper-signup:target {
    display: block;
    opacity: 1;
    pointer-events: all;
}

#wrapper-signup:target #wrapper-login,
#wrapper-signin:target #wrapper-signup {
    opacity: 0;
    pointer-events: none;
}

#wrapper-signup,
#wrapper-login {
    -webkit-transition: .2s linear all;
    transition: .2s linear all;
}