<div class="container-fluid brand-row">
    <div class="row ">
        <div class="col-xs-12 col-md-12 brand-heading">
            <h3>Our Popular Brand</h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-3 brand-box">
            <img src="../../../assets/img/Brand/acura.png" alt="sedan">
        </div>
        <div class="col-xs-6 col-md-3 brand-box">
            <img src="../../../assets/img/Brand/honda.png" alt="coupes">
        </div>
        <div class="col-xs-6 col-md-3 brand-box">
            <img src="../../../assets/img/Brand/kia.png" alt="Convertibles">
        </div>
        <div class="col-xs-6 col-md-3 brand-box">
            <img src="../../../assets/img/Brand/mercedes.png" alt="SUVs">
        </div>
    </div>
</div>