@import '../../../styles.scss';

.brand {
    &-container {
        padding: 0;
    }
    &-heading {
        text-align: center;

        @media only screen and (min-width: 812px) {
            padding: 30px 0;
        }

        h3 {
            font-weight: 700;
            text-transform: uppercase;
        }
        
        hr {
            border-top: 3px solid $color-blue;
            margin-top: -10px;
            width: 50px;

            @media only screen and (min-width: 812px) {
                margin-top: -5px;
            }
        }
    }

    &-row {
        text-align: center;
        margin: 0;

        @media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
            img {
                width: 100%;
            }
        }

        p {
            font-size: 18px;
            padding: 10px 0;
            text-transform: uppercase;
            color: $color-blue;
        }
    }

    &-box {
        @media only screen and (min-width: 812px) {
            padding: 0 50px;
        }

    }
}
