<div class="container-fluid brand-container">
    <div class="row brand-row">
        <div class="col-xs-12 col-md-12 brand-heading">
            <h3>Our Popular Brand</h3>
            <hr>
        </div>
    </div>
    <div class="row brand-row">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let image of images" class="slide">
                <div class="brand-box">
                    <img src="{{ image.img }}" width="100%">
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</div>